<%= form_for([@article, @article.comments.build]) do |f| %>
  
  <div class="form-group">
    <%= f.text_area :body, class:"form-control", rows:"2" %>
  </div>

  <div class="actions">
    <%= f.submit 'Comentar', class: 'btn btn-primary'%>
  </div>
<% end %>