/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

body {
font-family: Georgia, "Times New Roman", Times, serif;
color: #555;
background: #eee;
}

.container {
background: #fff;
margin-top: 30px;
margin-bottom: 50px;

}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
margin-top: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: normal;
color: #333;
}

.navbar-link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-top: 26px;
}

.blog-post {
margin-bottom: 50px;
}

.blog-main {
font-size: 18px;
line-height: 1.5;
}

.blog-title {
margin-top: 10px;
margin-bottom: 0;
font-size: 60px;
font-weight: normal;
}

.blog-subtitle {
  font-size: 21px;
}

.blog-description {
  font-size: 20px;
  color: #999;
}

.blog-post-title {
margin-bottom: 5px;
font-size: 30px;
display: inline-block;
}

.blog-post-meta {
  margin-bottom: 0px;
  color: #999;
  #comment-date {
    font-size: 14px;
  }
}

p {
margin: 0 0 10px;
}

.new-post {
  margin-bottom: 10px;
}

.btn-default, .btn-danger {
border-radius: 30px;
width: 100px;
}

input#post_published {
  margin-left: 0px;
}

.form-label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container.show-view {
  padding-top: 40px;
}

#index-row {
  margin-top: 60px;
}

.sidebar-module{
  padding: 2px;
  &:hover{
    background-color: #eee;
    text-decoration: none;
  }
}

.sidebar-titles {
  margin-bottom: 0px;
}

.side-list {
  margin-bottom: 50px;
}

.sidebar-hr {
  margin: 10px 0;
}

.blog-post-comments {
  color: #3498db;
  display: block;
  text-align: right;
  width: 100%
}

.comment-module {
  background-color: #eee;
  padding: 5px;
  margin-bottom: 10px;
}

.comment-data {
  display: inline-block;
  margin-left: 5px;
}

.comment-user-picture {
  width: 65px;
}

.media-heading,
#comment-date {
  display: inline-block;
}

a.delete-comment {
  display: block;
  font-size: 15px;
}

.main-user-picture {
  width: 80%;
  border-radius: 50%;
}

.article-author {
  text-align: center;
}

.content-row {
  margin-top: 10px;
}
